################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BearScript
/BearScriptUtil/Debug
/BearScriptCtrls/Debug
/BearScriptLib/Debug
/BearScriptRes/Debug
/BearScriptUI/Debug
/LogViewer/Debug
/Debug
/BearScriptUtil/Release
/BearScriptCtrls/Release
/BearScriptLib/Release
/BearScriptRes/Release
/BearScriptUI/Release
/LogViewer/Release
/Release
